@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700;900&display=swap");
:root {
  --clr-primary: rgb(54 , 112, 199);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99,36, 36);
}

*,
*::before,
*::after {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: -ms-grid;
  display: grid;
  grid: "header header header header" auto "...... lists  active ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  margin: -.2rem 0 .5rem;
}

.all-tasks {
  grid-area: lists;
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1rem;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: .7;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: .25rem;
  -webkit-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
}

.btn.create:hover {
  opacity: .3;
}

.btn.delete {
  opacity: .7;
  font-size: 1rem;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.btn.delete:hover {
  color: var(--clr-warning);
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  -webkit-transition: border-bottom 150ms ease-in;
  transition: border-bottom 150ms ease-in;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: .25em;
}

.new:focus {
  border-bottom-width: 3px;
}

.new::-webkit-input-placeholder {
  color: #c4c4c4;
  opacity: .4;
}

.new:-ms-input-placeholder {
  color: #c4c4c4;
  opacity: .4;
}

.new::-ms-input-placeholder {
  color: #c4c4c4;
  opacity: .4;
}

.new::placeholder {
  color: #c4c4c4;
  opacity: .4;
}

.new:focus::-webkit-input-placeholder {
  opacity: .3;
}

.new:focus:-ms-input-placeholder {
  opacity: .3;
}

.new:focus::-ms-input-placeholder {
  opacity: .3;
}

.new:focus::placeholder {
  opacity: .3;
}

.new.list {
  font-size: 1.1rem;
}

.new.task {
  margin-bottom: 0;
}

.active-list {
  font-weight: 700;
}

.todo-list {
  --spacer: 2rem;
  grid-area: active;
  background: var(--clr-light);
  color: var(--clr-dark);
}

.todo-header {
  padding: var(--spacer);
  background: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-title {
  margin: 0 1rem 0 0;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
}

.new-task-creator .create {
  color: var(--clr-primary);
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -.5em;
  height: 1px;
  background-color: currentColor;
  opacity: .1;
}

.custom-checkbox {
  --size: .75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  margin-right: var(--size);
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transform: sacle(1);
          transform: sacle(1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  -webkit-box-shadow: inset 0 0 0px 3px white;
          box-shadow: inset 0 0 0px 3px white;
}

[type="checkbox"]:checked + label {
  opacity: .5;
}

.task label::after {
  content: '';
  position: absolute;
  left: 1.5em;
  right: 0;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

[type="checkbox"]:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.delete-stuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: var(--clr-light);
}
/*# sourceMappingURL=style.css.map */